html {
    font-size: 14px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    align-items: start;
}

.horizontal section {
    padding: 10px;
    margin-top: 60px;
    text-align: justify;
}

.me {
    width: 100%;
    padding-top: 2em;
    padding-left: 1.5em;
}

.paperBundle {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 5em;
}

.paperBundle div {
    width: 60%;
}

.paperCovers {
    width: 40%;
    height: auto;
    margin-right: 1.5em;
}

.paperCovers img {
    width: 100%;
}

.standard {
    /* font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; */
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    
}

.standard h1 {
    font-size: 2em;
    font-weight: 700;
    margin: .67em 0
}

.standard h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 4em 0 1.5em 0;
}

.standard h3 {
    font-size: 1.17em;
    font-weight: 700
}

.standard h3,
.standard p {
    margin: 1.75rem 0;
    color: #444;
}

.standard ol,
.standard ul {
    display: block;
    list-style-type: disc;
    padding-left: 20px;
    margin: 1.75rem 0
}

.standard ol ul,
.standard ul ul {
    margin: .75rem 0;
    list-style-type: square
}

.standard ol {
    list-style-type: decimal
}

.standard li {
    display: list-item;
    padding-left: 0
}

.standard blockquote {
    margin: 1.75rem 0;
    padding-left: 10px;
    border-left: 5px solid #f0f0f0
}

.standard pre {
    margin: 1.75rem 0;
    white-space: pre
}

.standard hr {
    border: 0;
    height: 1px;
    display: block;
    background-color: #e2e2e2;
    margin: 1.75rem 0
}