// This file contains custom (non hack.css) styles

@use "variables";
@use "mixins";

.t-hackcss {  // Main prefix to avoid collisions

  // navigation.html

  &-navigation {
    padding-right: variables.$spacing-unit;
  }

  @at-root .hack &-navigation-heading {
    padding-top: 20px;
  }

  // footer.html

  @at-root body &-footer {
    padding-bottom: variables.$spacing-unit;
  }

  &-social {
    display: inline-block;
  }

  &-social + &-social {
    padding-left: variables.$spacing-unit;
  }

  &-sm-reversed-grid.grid {
    @include mixins.media-query(variables.$on-palm) {
      flex-direction: column-reverse;
    }
  }

  &-icon {
    display: inline-block;
    vertical-align: middle;
    width: variables.$icon-size;
    height: variables.$icon-size;

    > svg {
      width: variables.$icon-size;
    }
  }

  // examples.html

  &-media {
    margin-bottom: 1.25rem;
  }

  &-media-shift {
    max-width: variables.$image-size;
  }

  &-media-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &-cards {
    flex-wrap: wrap;
    @include mixins.media-query(variables.$on-palm) {
      flex-wrap: nowrap;
    }
  }

  &-cards-cell {
    padding-bottom: variables.$spacing-unit;
    padding-right: variables.$spacing-unit;
  }

  &-cards-text {
    margin: 0
  }

  &-cards-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }

  &-cards-link {
    text-align: center;
  }
}

// index page
div.me img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
// description of my profile
div.me img + span {
  color: #bbb;
}

// publication
span.title {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

// album all
div.album {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-starts;
  gap: 50px 0;  // vertical horizontal
  margin-top: 100px;
}
div.strip {
  width: 70%;
}
div.strip img {
  width: 100%;
  height: auto;
}

// single album
div.album-content {
  margin-top: 100px;
}
div.album-content img {
  display: block;
  margin: 0 auto;
  // width: 90%;
}
div.album-content img + em {
  font-style: normal;
  color: #bbb;
  display: block;
  text-align: center;
}

// paintings
div.paintItem {
  width: 500px;
  height: auto;
  text-align: left;
  color: #bbb;
}
div.paintItem img {
  width: 100%;
  height: auto;
}

// div.albumItem {
//   width: 600px;
//   height: auto;
//   text-align: left;
//   color: #bbb;
// }
// div.albumItem img {
//   width: 100%;
//   height: auto;
// }
